POSTGRES_USER=learnic
POSTGRES_PASSWORD=change_me_in_env
POSTGRES_DB=learnic
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

FASTAPI_DEBUG=0
SQLALCHEMY_DEBUG=0
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

DOMAIN=learnic.example.com
ACME_EMAIL=admin@example.com
