POSTGRES_USER=root
POSTGRES_PASSWORD=12345
POSTGRES_DB=learnic
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

FASTAPI_DEBUG=0
SQLALCHEMY_DEBUG=0
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=root
S3_SECRET_KEY=12345
S3_BUCKET=learnic
S3_REGION=us-east-1

TASKIQ_BROKER_URL=redis://localhost:6379/0
TASKIQ_RESULT_BACKEND_URL=redis://localhost:6379/1
TASKIQ_IN_MEMORY=false
TASKIQ_WORKERS=2

DOMAIN=learnic.ru
ACME_EMAIL=letsencrypt.cotton427@passmail.net